In [7]:
import requests
import pandas as pd 
# Replace YOUR_API_KEY with your actual API key
api_key = 'B9367TAXK4ZMYQVI'

In [12]:
colmn_rename = {
    '1. open':'open',
    '2. high':'high',
    '3. low' : 'low',	
    '4. close' : 'close',
    '5. adjusted close' :	'adjusted_close',
    '6. volume'	: 'volume',
    '7. dividend amount'	: 'dividend_amount',
    '8. split coefficient' : 'split_coefficient'
}

In [4]:
symbol = 'IBM'

# Construct the API endpoint URL
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={api_key}'

# Make a GET request to the API endpoint
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Get the close data from the response JSON
    data = response.json()['Time Series (Daily)']
    close_data = {date: float(values['4. close']) for date, values in data.items()}
    print(len(close_data),type(data))
    # print(close_data)
else:
    print(f'Request failed with status code {response.status_code} for {symbol}')

5877 <class 'dict'>

In [47]:
df_tmp = pd.DataFrame(data) \
    .T \
    .rename_axis('date', axis='columns') \
    .rename(columns = colmn_rename) 

df_tmp

date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
2023-03-10,126.12,127.29,125.13,125.45,125.45,5990867,0.0000,1.0
2023-03-09,128.3,128.53,125.98,126.16,126.16,5478317,0.0000,1.0
2023-03-08,128.48,128.74,127.545,128.05,128.05,2778798,0.0000,1.0
2023-03-07,130.28,130.42,128.19,128.25,128.25,3530439,0.0000,1.0
2023-03-06,129.64,130.86,129.59,130.19,130.19,2982980,0.0000,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,92.75,92.94,90.19,90.25,49.1227810069134,13737600,0.0000,1.0
1999-11-04,94.44,94.44,90.0,91.56,49.8358097395345,16697600,0.0000,1.0
1999-11-03,95.87,95.94,93.5,94.37,51.365283585844,10369100,0.0000,1.0
1999-11-02,96.75,96.81,93.69,94.81,51.6047741525259,11105400,0.0000,1.0
1999-11-01,98.5,98.81,96.37,96.75,52.6607098328961,9551800,0.0000,1.0

In [48]:
cols = df_tmp.columns
df_tmp[cols] = df_tmp[cols].apply(pd.to_numeric, errors='coerce')
# df_tmp.dtypes

In [49]:
df_tmp['close_percent_change'] = (df_tmp.loc[::-1].close.pct_change() * 100)
#df_tmp['close_diff'] = df_tmp.close.diff()

In [50]:
df_tmp.head()

date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,close_percent_change
2023-03-10,126.12,127.29,125.130,125.45,125.45,5990867,0.0,1.0,-0.562777
2023-03-09,128.30,128.53,125.980,126.16,126.16,5478317,0.0,1.0,-1.475986
2023-03-08,128.48,128.74,127.545,128.05,128.05,2778798,0.0,1.0,-0.155945
2023-03-07,130.28,130.42,128.190,128.25,128.25,3530439,0.0,1.0,-1.490130
2023-03-06,129.64,130.86,129.590,130.19,130.19,2982980,0.0,1.0,0.424252