In [19]:
import pandas as pd 
import os
company = 'AMD'

In [3]:

df.head()

index,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,close_percent_change
0,2023-03-31,96.34,98.36,95.270,98.01,98.01,55861066,0.0,1.0,0.1328
1,2023-03-30,98.00,99.53,97.250,97.88,97.88,59678531,0.0,1.0,1.8628
2,2023-03-29,96.07,96.91,94.870,96.09,96.09,55325974,0.0,1.0,1.6180
3,2023-03-28,96.77,96.94,92.870,94.56,94.56,59150100,0.0,1.0,-2.1219
4,2023-03-27,98.02,98.93,95.425,96.61,96.61,57461354,0.0,1.0,-1.3680

In [4]:
df.dtypes

index
date                    datetime64[ns]
open                           float64
high                           float64
low                            float64
close                          float64
adjusted_close                 float64
volume                           int64
dividend_amount                float64
split_coefficient              float64
close_percent_change           float64
dtype: object

In [7]:

len(df)

5892

In [40]:
# divide DF in different years
def Write_new(company):
    read_path = f'data/all/parquet/{company}.parquet'
    df = pd.read_parquet(read_path)
    min_year = min(df.date).year
    max_year = max(df.date).year
    for year in range (min_year, max_year+1):
        df_year = df[df['date'].dt.year == year]
        # include = df[df['Date'].dt.year == year]
        print(f'{company}: {year}: {len(df_year)}')
        path = f'data/price_n_volume/{year}/'
        isExist = os.path.exists(path)
        if not isExist:

           # Create a new directory because it does not exist
           os.makedirs(path)
           print("The new directory is created!")

        df_year.to_parquet(f'{path}/{company}.parquet')
        # df_year.to_csv(f'{path}/{company}.csv')

In [47]:
Write_new('AMZN')

AMZN: 1999: 43
AMZN: 2000: 252
AMZN: 2001: 248
AMZN: 2002: 252
AMZN: 2003: 252
AMZN: 2004: 252
AMZN: 2005: 252
AMZN: 2006: 251
AMZN: 2007: 251
AMZN: 2008: 253
AMZN: 2009: 252
AMZN: 2010: 252
AMZN: 2011: 252
AMZN: 2012: 250
AMZN: 2013: 252
AMZN: 2014: 252
AMZN: 2015: 252
AMZN: 2016: 252
AMZN: 2017: 251
AMZN: 2018: 251
AMZN: 2019: 252
AMZN: 2020: 253
AMZN: 2021: 252
AMZN: 2022: 251
AMZN: 2023: 62