In [19]:
import pandas as pd 
import os
company = 'AMD'

In [3]:

df.head()

index,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,close_percent_change
0,2023-03-31,96.34,98.36,95.270,98.01,98.01,55861066,0.0,1.0,0.1328
1,2023-03-30,98.00,99.53,97.250,97.88,97.88,59678531,0.0,1.0,1.8628
2,2023-03-29,96.07,96.91,94.870,96.09,96.09,55325974,0.0,1.0,1.6180
3,2023-03-28,96.77,96.94,92.870,94.56,94.56,59150100,0.0,1.0,-2.1219
4,2023-03-27,98.02,98.93,95.425,96.61,96.61,57461354,0.0,1.0,-1.3680

In [4]:
df.dtypes

index
date                    datetime64[ns]
open                           float64
high                           float64
low                            float64
close                          float64
adjusted_close                 float64
volume                           int64
dividend_amount                float64
split_coefficient              float64
close_percent_change           float64
dtype: object

In [7]:

len(df)

5892

In [40]:
# divide DF in different years
def Write_new(company):
    read_path = f'data/all/parquet/{company}.parquet'
    df = pd.read_parquet(read_path)
    min_year = min(df.date).year
    max_year = max(df.date).year
    for year in range (min_year, max_year+1):
        df_year = df[df['date'].dt.year == year]
        # include = df[df['Date'].dt.year == year]
        print(f'{company}: {year}: {len(df_year)}')
        path = f'data/price_n_volume/{year}/'
        isExist = os.path.exists(path)
        if not isExist:

           # Create a new directory because it does not exist
           os.makedirs(path)
           print("The new directory is created!")

        df_year.to_parquet(f'{path}/{company}.parquet')
        # df_year.to_csv(f'{path}/{company}.csv')

In [47]:
Write_new('AMZN')

AMZN: 1999: 43
AMZN: 2000: 252
AMZN: 2001: 248
AMZN: 2002: 252
AMZN: 2003: 252
AMZN: 2004: 252
AMZN: 2005: 252
AMZN: 2006: 251
AMZN: 2007: 251
AMZN: 2008: 253
AMZN: 2009: 252
AMZN: 2010: 252
AMZN: 2011: 252
AMZN: 2012: 250
AMZN: 2013: 252
AMZN: 2014: 252
AMZN: 2015: 252
AMZN: 2016: 252
AMZN: 2017: 251
AMZN: 2018: 251
AMZN: 2019: 252
AMZN: 2020: 253
AMZN: 2021: 252
AMZN: 2022: 251
AMZN: 2023: 62

In [6]:
import os
import pandas as pd

In [10]:
head = 'data/price_n_volume'
lst = os.listdir(head)

for l in lst:
    path = f'{head}/{l}'
    print(path)
    files = os.listdir(path)
    for file in files:
        file_path = f'{path}/{file}'
        df = pd.read_parquet(file_path)
        print(df['company'])
        # df['company'] = file[:-8]
        # df.to_parquet(file_path)

data/price_n_volume/2014
2080    AEP
2081    AEP
2082    AEP
2083    AEP
2084    AEP
       ...
2327    AEP
2328    AEP
2329    AEP
2330    AEP
2331    AEP
Name: company, Length: 252, dtype: object
2080    ANSS
2081    ANSS
2082    ANSS
2083    ANSS
2084    ANSS
        ...
2327    ANSS
2328    ANSS
2329    ANSS
2330    ANSS
2331    ANSS
Name: company, Length: 252, dtype: object
2076    ALGN
2077    ALGN
2078    ALGN
2079    ALGN
2080    ALGN
        ...
2323    ALGN
2324    ALGN
2325    ALGN
2326    ALGN
2327    ALGN
Name: company, Length: 252, dtype: object
2076    IBM
2077    IBM
2078    IBM
2079    IBM
2080    IBM
       ...
2323    IBM
2324    IBM
2325    IBM
2326    IBM
2327    IBM
Name: company, Length: 252, dtype: object
2080    AMGN
2081    AMGN
2082    AMGN
2083    AMGN
2084    AMGN
        ...
2327    AMGN
2328    AMGN
2329    AMGN
2330    AMGN
2331    AMGN
Name: company, Length: 252, dtype: object
2076    AMD
2077    AMD
2078    AMD
2079    AMD
2080    AMD
       ...
2323    AMD
2324    AMD
2325    AMD
2326    AMD
2327    AMD
Name: company, Length: 252, dtype: object
2080    AAPL
2081    AAPL
2082    AAPL
2083    AAPL
2084    AAPL
        ...
2327    AAPL
2328    AAPL
2329    AAPL
2330    AAPL
2331    AAPL
Name: company, Length: 252, dtype: object
2076    ADBE
2077    ADBE
2078    ADBE
2079    ADBE
2080    ADBE
        ...
2323    ADBE
2324    ADBE
2325    ADBE
2326    ADBE
2327    ADBE
Name: company, Length: 252, dtype: object
2076    AMZN
2077    AMZN
2078    AMZN
2079    AMZN
2080    AMZN
        ...
2323    AMZN
2324    AMZN
2325    AMZN
2326    AMZN
2327    AMZN
Name: company, Length: 252, dtype: object
2080    ADI
2081    ADI
2082    ADI
2083    ADI
2084    ADI
       ...
2327    ADI
2328    ADI
2329    ADI
2330    ADI
2331    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2006
4094    AEP
4095    AEP
4096    AEP
4097    AEP
4098    AEP
       ...
4340    AEP
4341    AEP
4342    AEP
4343    AEP
4344    AEP
Name: company, Length: 251, dtype: object
4094    ANSS
4095    ANSS
4096    ANSS
4097    ANSS
4098    ANSS
        ...
4340    ANSS
4341    ANSS
4342    ANSS
4343    ANSS
4344    ANSS
Name: company, Length: 251, dtype: object
4090    ALGN
4091    ALGN
4092    ALGN
4093    ALGN
4094    ALGN
        ...
4336    ALGN
4337    ALGN
4338    ALGN
4339    ALGN
4340    ALGN
Name: company, Length: 251, dtype: object
4090    IBM
4091    IBM
4092    IBM
4093    IBM
4094    IBM
       ...
4336    IBM
4337    IBM
4338    IBM
4339    IBM
4340    IBM
Name: company, Length: 251, dtype: object
4094    AMGN
4095    AMGN
4096    AMGN
4097    AMGN
4098    AMGN
        ...
4340    AMGN
4341    AMGN
4342    AMGN
4343    AMGN
4344    AMGN
Name: company, Length: 251, dtype: object
4090    AMD
4091    AMD
4092    AMD
4093    AMD
4094    AMD
       ...
4336    AMD
4337    AMD
4338    AMD
4339    AMD
4340    AMD
Name: company, Length: 251, dtype: object
4094    AAPL
4095    AAPL
4096    AAPL
4097    AAPL
4098    AAPL
        ...
4340    AAPL
4341    AAPL
4342    AAPL
4343    AAPL
4344    AAPL
Name: company, Length: 251, dtype: object
4090    ADBE
4091    ADBE
4092    ADBE
4093    ADBE
4094    ADBE
        ...
4336    ADBE
4337    ADBE
4338    ADBE
4339    ADBE
4340    ADBE
Name: company, Length: 251, dtype: object
4090    AMZN
4091    AMZN
4092    AMZN
4093    AMZN
4094    AMZN
        ...
4336    AMZN
4337    AMZN
4338    AMZN
4339    AMZN
4340    AMZN
Name: company, Length: 251, dtype: object
4094    ADI
4095    ADI
4096    ADI
4097    ADI
4098    ADI
       ...
4340    ADI
4341    ADI
4342    ADI
4343    ADI
4344    ADI
Name: company, Length: 251, dtype: object
data/price_n_volume/2019
822     AEP
823     AEP
824     AEP
825     AEP
826     AEP
       ...
1069    AEP
1070    AEP
1071    AEP
1072    AEP
1073    AEP
Name: company, Length: 252, dtype: object
822     ANSS
823     ANSS
824     ANSS
825     ANSS
826     ANSS
        ...
1069    ANSS
1070    ANSS
1071    ANSS
1072    ANSS
1073    ANSS
Name: company, Length: 252, dtype: object
818     ALGN
819     ALGN
820     ALGN
821     ALGN
822     ALGN
        ...
1065    ALGN
1066    ALGN
1067    ALGN
1068    ALGN
1069    ALGN
Name: company, Length: 252, dtype: object
818     IBM
819     IBM
820     IBM
821     IBM
822     IBM
       ...
1065    IBM
1066    IBM
1067    IBM
1068    IBM
1069    IBM
Name: company, Length: 252, dtype: object
822     AMGN
823     AMGN
824     AMGN
825     AMGN
826     AMGN
        ...
1069    AMGN
1070    AMGN
1071    AMGN
1072    AMGN
1073    AMGN
Name: company, Length: 252, dtype: object
818     AMD
819     AMD
820     AMD
821     AMD
822     AMD
       ...
1065    AMD
1066    AMD
1067    AMD
1068    AMD
1069    AMD
Name: company, Length: 252, dtype: object
822     AAPL
823     AAPL
824     AAPL
825     AAPL
826     AAPL
        ...
1069    AAPL
1070    AAPL
1071    AAPL
1072    AAPL
1073    AAPL
Name: company, Length: 252, dtype: object
818     ADBE
819     ADBE
820     ADBE
821     ADBE
822     ADBE
        ...
1065    ADBE
1066    ADBE
1067    ADBE
1068    ADBE
1069    ADBE
Name: company, Length: 252, dtype: object
818     AMZN
819     AMZN
820     AMZN
821     AMZN
822     AMZN
        ...
1065    AMZN
1066    AMZN
1067    AMZN
1068    AMZN
1069    AMZN
Name: company, Length: 252, dtype: object
822     ADI
823     ADI
824     ADI
825     ADI
826     ADI
       ...
1069    ADI
1070    ADI
1071    ADI
1072    ADI
1073    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2007
3843    AEP
3844    AEP
3845    AEP
3846    AEP
3847    AEP
       ...
4089    AEP
4090    AEP
4091    AEP
4092    AEP
4093    AEP
Name: company, Length: 251, dtype: object
3843    ANSS
3844    ANSS
3845    ANSS
3846    ANSS
3847    ANSS
        ...
4089    ANSS
4090    ANSS
4091    ANSS
4092    ANSS
4093    ANSS
Name: company, Length: 251, dtype: object
3839    ALGN
3840    ALGN
3841    ALGN
3842    ALGN
3843    ALGN
        ...
4085    ALGN
4086    ALGN
4087    ALGN
4088    ALGN
4089    ALGN
Name: company, Length: 251, dtype: object
3839    IBM
3840    IBM
3841    IBM
3842    IBM
3843    IBM
       ...
4085    IBM
4086    IBM
4087    IBM
4088    IBM
4089    IBM
Name: company, Length: 251, dtype: object
3843    AMGN
3844    AMGN
3845    AMGN
3846    AMGN
3847    AMGN
        ...
4089    AMGN
4090    AMGN
4091    AMGN
4092    AMGN
4093    AMGN
Name: company, Length: 251, dtype: object
3839    AMD
3840    AMD
3841    AMD
3842    AMD
3843    AMD
       ...
4085    AMD
4086    AMD
4087    AMD
4088    AMD
4089    AMD
Name: company, Length: 251, dtype: object
3843    AAPL
3844    AAPL
3845    AAPL
3846    AAPL
3847    AAPL
        ...
4089    AAPL
4090    AAPL
4091    AAPL
4092    AAPL
4093    AAPL
Name: company, Length: 251, dtype: object
3839    ADBE
3840    ADBE
3841    ADBE
3842    ADBE
3843    ADBE
        ...
4085    ADBE
4086    ADBE
4087    ADBE
4088    ADBE
4089    ADBE
Name: company, Length: 251, dtype: object
3839    AMZN
3840    AMZN
3841    AMZN
3842    AMZN
3843    AMZN
        ...
4085    AMZN
4086    AMZN
4087    AMZN
4088    AMZN
4089    AMZN
Name: company, Length: 251, dtype: object
3843    ADI
3844    ADI
3845    ADI
3846    ADI
3847    ADI
       ...
4089    ADI
4090    ADI
4091    ADI
4092    ADI
4093    ADI
Name: company, Length: 251, dtype: object
data/price_n_volume/2020
569    AEP
570    AEP
571    AEP
572    AEP
573    AEP
      ...
817    AEP
818    AEP
819    AEP
820    AEP
821    AEP
Name: company, Length: 253, dtype: object
569    ANSS
570    ANSS
571    ANSS
572    ANSS
573    ANSS
       ...
817    ANSS
818    ANSS
819    ANSS
820    ANSS
821    ANSS
Name: company, Length: 253, dtype: object
565    ALGN
566    ALGN
567    ALGN
568    ALGN
569    ALGN
       ...
813    ALGN
814    ALGN
815    ALGN
816    ALGN
817    ALGN
Name: company, Length: 253, dtype: object
565    IBM
566    IBM
567    IBM
568    IBM
569    IBM
      ...
813    IBM
814    IBM
815    IBM
816    IBM
817    IBM
Name: company, Length: 253, dtype: object
569    AMGN
570    AMGN
571    AMGN
572    AMGN
573    AMGN
       ...
817    AMGN
818    AMGN
819    AMGN
820    AMGN
821    AMGN
Name: company, Length: 253, dtype: object
565    AMD
566    AMD
567    AMD
568    AMD
569    AMD
      ...
813    AMD
814    AMD
815    AMD
816    AMD
817    AMD
Name: company, Length: 253, dtype: object
565    ABNB
566    ABNB
567    ABNB
568    ABNB
569    ABNB
570    ABNB
571    ABNB
572    ABNB
573    ABNB
574    ABNB
575    ABNB
576    ABNB
577    ABNB
578    ABNB
579    ABNB
Name: company, dtype: object
569    AAPL
570    AAPL
571    AAPL
572    AAPL
573    AAPL
       ...
817    AAPL
818    AAPL
819    AAPL
820    AAPL
821    AAPL
Name: company, Length: 253, dtype: object
565    ADBE
566    ADBE
567    ADBE
568    ADBE
569    ADBE
       ...
813    ADBE
814    ADBE
815    ADBE
816    ADBE
817    ADBE
Name: company, Length: 253, dtype: object
565    AMZN
566    AMZN
567    AMZN
568    AMZN
569    AMZN
       ...
813    AMZN
814    AMZN
815    AMZN
816    AMZN
817    AMZN
Name: company, Length: 253, dtype: object
569    ADI
570    ADI
571    ADI
572    ADI
573    ADI
      ...
817    ADI
818    ADI
819    ADI
820    ADI
821    ADI
Name: company, Length: 253, dtype: object
data/price_n_volume/2009
3338    AEP
3339    AEP
3340    AEP
3341    AEP
3342    AEP
       ...
3585    AEP
3586    AEP
3587    AEP
3588    AEP
3589    AEP
Name: company, Length: 252, dtype: object
3338    ANSS
3339    ANSS
3340    ANSS
3341    ANSS
3342    ANSS
        ...
3585    ANSS
3586    ANSS
3587    ANSS
3588    ANSS
3589    ANSS
Name: company, Length: 252, dtype: object
3334    ALGN
3335    ALGN
3336    ALGN
3337    ALGN
3338    ALGN
        ...
3581    ALGN
3582    ALGN
3583    ALGN
3584    ALGN
3585    ALGN
Name: company, Length: 252, dtype: object
3334    IBM
3335    IBM
3336    IBM
3337    IBM
3338    IBM
       ...
3581    IBM
3582    IBM
3583    IBM
3584    IBM
3585    IBM
Name: company, Length: 252, dtype: object
3338    AMGN
3339    AMGN
3340    AMGN
3341    AMGN
3342    AMGN
        ...
3585    AMGN
3586    AMGN
3587    AMGN
3588    AMGN
3589    AMGN
Name: company, Length: 252, dtype: object
3334    AMD
3335    AMD
3336    AMD
3337    AMD
3338    AMD
       ...
3581    AMD
3582    AMD
3583    AMD
3584    AMD
3585    AMD
Name: company, Length: 252, dtype: object
3338    AAPL
3339    AAPL
3340    AAPL
3341    AAPL
3342    AAPL
        ...
3585    AAPL
3586    AAPL
3587    AAPL
3588    AAPL
3589    AAPL
Name: company, Length: 252, dtype: object
3334    ADBE
3335    ADBE
3336    ADBE
3337    ADBE
3338    ADBE
        ...
3581    ADBE
3582    ADBE
3583    ADBE
3584    ADBE
3585    ADBE
Name: company, Length: 252, dtype: object
3334    AMZN
3335    AMZN
3336    AMZN
3337    AMZN
3338    AMZN
        ...
3581    AMZN
3582    AMZN
3583    AMZN
3584    AMZN
3585    AMZN
Name: company, Length: 252, dtype: object
3338    ADI
3339    ADI
3340    ADI
3341    ADI
3342    ADI
       ...
3585    ADI
3586    ADI
3587    ADI
3588    ADI
3589    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2010
3086    AEP
3087    AEP
3088    AEP
3089    AEP
3090    AEP
       ...
3333    AEP
3334    AEP
3335    AEP
3336    AEP
3337    AEP
Name: company, Length: 252, dtype: object
3086    ANSS
3087    ANSS
3088    ANSS
3089    ANSS
3090    ANSS
        ...
3333    ANSS
3334    ANSS
3335    ANSS
3336    ANSS
3337    ANSS
Name: company, Length: 252, dtype: object
3082    ALGN
3083    ALGN
3084    ALGN
3085    ALGN
3086    ALGN
        ...
3329    ALGN
3330    ALGN
3331    ALGN
3332    ALGN
3333    ALGN
Name: company, Length: 252, dtype: object
3082    IBM
3083    IBM
3084    IBM
3085    IBM
3086    IBM
       ...
3329    IBM
3330    IBM
3331    IBM
3332    IBM
3333    IBM
Name: company, Length: 252, dtype: object
3086    AMGN
3087    AMGN
3088    AMGN
3089    AMGN
3090    AMGN
        ...
3333    AMGN
3334    AMGN
3335    AMGN
3336    AMGN
3337    AMGN
Name: company, Length: 252, dtype: object
3082    AMD
3083    AMD
3084    AMD
3085    AMD
3086    AMD
       ...
3329    AMD
3330    AMD
3331    AMD
3332    AMD
3333    AMD
Name: company, Length: 252, dtype: object
3086    AAPL
3087    AAPL
3088    AAPL
3089    AAPL
3090    AAPL
        ...
3333    AAPL
3334    AAPL
3335    AAPL
3336    AAPL
3337    AAPL
Name: company, Length: 252, dtype: object

3082    ADBE
3083    ADBE
3084    ADBE
3085    ADBE
3086    ADBE
        ...
3329    ADBE
3330    ADBE
3331    ADBE
3332    ADBE
3333    ADBE
Name: company, Length: 252, dtype: object
3082    AMZN
3083    AMZN
3084    AMZN
3085    AMZN
3086    AMZN
        ...
3329    AMZN
3330    AMZN
3331    AMZN
3332    AMZN
3333    AMZN
Name: company, Length: 252, dtype: object
3086    ADI
3087    ADI
3088    ADI
3089    ADI
3090    ADI
       ...
3333    ADI
3334    ADI
3335    ADI
3336    ADI
3337    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2022
66     AEP
67     AEP
68     AEP
69     AEP
70     AEP
      ...
312    AEP
313    AEP
314    AEP
315    AEP
316    AEP
Name: company, Length: 251, dtype: object
66     ANSS
67     ANSS
68     ANSS
69     ANSS
70     ANSS
       ...
312    ANSS
313    ANSS
314    ANSS
315    ANSS
316    ANSS
Name: company, Length: 251, dtype: object
62     ALGN
63     ALGN
64     ALGN
65     ALGN
66     ALGN
       ...
308    ALGN
309    ALGN
310    ALGN
311    ALGN
312    ALGN
Name: company, Length: 251, dtype: object
62     IBM
63     IBM
64     IBM
65     IBM
66     IBM
      ...
308    IBM
309    IBM
310    IBM
311    IBM
312    IBM
Name: company, Length: 251, dtype: object
66     AMGN
67     AMGN
68     AMGN
69     AMGN
70     AMGN
       ...
312    AMGN
313    AMGN
314    AMGN
315    AMGN
316    AMGN
Name: company, Length: 251, dtype: object
62     AMD
63     AMD
64     AMD
65     AMD
66     AMD
      ...
308    AMD
309    AMD
310    AMD
311    AMD
312    AMD
Name: company, Length: 251, dtype: object
62     ABNB
63     ABNB
64     ABNB
65     ABNB
66     ABNB
       ...
308    ABNB
309    ABNB
310    ABNB
311    ABNB
312    ABNB
Name: company, Length: 251, dtype: object
66     AAPL
67     AAPL
68     AAPL
69     AAPL
70     AAPL
       ...
312    AAPL
313    AAPL
314    AAPL
315    AAPL
316    AAPL
Name: company, Length: 251, dtype: object
62     ADBE
63     ADBE
64     ADBE
65     ADBE
66     ADBE
       ...
308    ADBE
309    ADBE
310    ADBE
311    ADBE
312    ADBE
Name: company, Length: 251, dtype: object
62     AMZN
63     AMZN
64     AMZN
65     AMZN
66     AMZN
       ...
308    AMZN
309    AMZN
310    AMZN
311    AMZN
312    AMZN
Name: company, Length: 251, dtype: object
66     ADI
67     ADI
68     ADI
69     ADI
70     ADI
      ...
312    ADI
313    ADI
314    ADI
315    ADI
316    ADI
Name: company, Length: 251, dtype: object
data/price_n_volume/2001
5353    AEP
5354    AEP
5355    AEP
5356    AEP
5357    AEP
       ...
5596    AEP
5597    AEP
5598    AEP
5599    AEP
5600    AEP
Name: company, Length: 248, dtype: object
5353    ANSS
5354    ANSS
5355    ANSS
5356    ANSS
5357    ANSS
        ...
5596    ANSS
5597    ANSS
5598    ANSS
5599    ANSS
5600    ANSS
Name: company, Length: 248, dtype: object
5349    ALGN
5350    ALGN
5351    ALGN
5352    ALGN
5353    ALGN
        ...
5573    ALGN
5574    ALGN
5575    ALGN
5576    ALGN
5577    ALGN
Name: company, Length: 229, dtype: object
5349    IBM
5350    IBM
5351    IBM
5352    IBM
5353    IBM
       ...
5592    IBM
5593    IBM
5594    IBM
5595    IBM
5596    IBM
Name: company, Length: 248, dtype: object
5353    AMGN
5354    AMGN
5355    AMGN
5356    AMGN
5357    AMGN
        ...
5596    AMGN
5597    AMGN
5598    AMGN
5599    AMGN
5600    AMGN
Name: company, Length: 248, dtype: object
5349    AMD
5350    AMD
5351    AMD
5352    AMD
5353    AMD
       ...
5592    AMD
5593    AMD
5594    AMD
5595    AMD
5596    AMD
Name: company, Length: 248, dtype: object
5353    AAPL
5354    AAPL
5355    AAPL
5356    AAPL
5357    AAPL
        ...
5596    AAPL
5597    AAPL
5598    AAPL
5599    AAPL
5600    AAPL
Name: company, Length: 248, dtype: object
5349    ADBE
5350    ADBE
5351    ADBE
5352    ADBE
5353    ADBE
        ...
5592    ADBE
5593    ADBE
5594    ADBE
5595    ADBE
5596    ADBE
Name: company, Length: 248, dtype: object
5349    AMZN
5350    AMZN
5351    AMZN
5352    AMZN
5353    AMZN
        ...
5592    AMZN
5593    AMZN
5594    AMZN
5595    AMZN
5596    AMZN
Name: company, Length: 248, dtype: object
5353    ADI
5354    ADI
5355    ADI
5356    ADI
5357    ADI
       ...
5596    ADI
5597    ADI
5598    ADI
5599    ADI
5600    ADI
Name: company, Length: 248, dtype: object
data/price_n_volume/2012
2584    AEP
2585    AEP
2586    AEP
2587    AEP
2588    AEP
       ...
2829    AEP
2830    AEP
2831    AEP
2832    AEP
2833    AEP
Name: company, Length: 250, dtype: object
2584    ANSS
2585    ANSS
2586    ANSS
2587    ANSS
2588    ANSS
        ...
2829    ANSS
2830    ANSS
2831    ANSS
2832    ANSS
2833    ANSS
Name: company, Length: 250, dtype: object
2580    ALGN
2581    ALGN
2582    ALGN
2583    ALGN
2584    ALGN
        ...
2825    ALGN
2826    ALGN
2827    ALGN
2828    ALGN
2829    ALGN
Name: company, Length: 250, dtype: object
2580    IBM
2581    IBM
2582    IBM
2583    IBM
2584    IBM
       ...
2825    IBM
2826    IBM
2827    IBM
2828    IBM
2829    IBM
Name: company, Length: 250, dtype: object
2584    AMGN
2585    AMGN
2586    AMGN
2587    AMGN
2588    AMGN
        ...
2829    AMGN
2830    AMGN
2831    AMGN
2832    AMGN
2833    AMGN
Name: company, Length: 250, dtype: object
2580    AMD
2581    AMD
2582    AMD
2583    AMD
2584    AMD
       ...
2825    AMD
2826    AMD
2827    AMD
2828    AMD
2829    AMD
Name: company, Length: 250, dtype: object
2584    AAPL
2585    AAPL
2586    AAPL
2587    AAPL
2588    AAPL
        ...
2829    AAPL
2830    AAPL
2831    AAPL
2832    AAPL
2833    AAPL
Name: company, Length: 250, dtype: object
2580    ADBE
2581    ADBE
2582    ADBE
2583    ADBE
2584    ADBE
        ...
2825    ADBE
2826    ADBE
2827    ADBE
2828    ADBE
2829    ADBE
Name: company, Length: 250, dtype: object
2580    AMZN
2581    AMZN
2582    AMZN
2583    AMZN
2584    AMZN
        ...
2825    AMZN
2826    AMZN
2827    AMZN
2828    AMZN
2829    AMZN
Name: company, Length: 250, dtype: object
2584    ADI
2585    ADI
2586    ADI
2587    ADI
2588    ADI
       ...
2829    ADI
2830    ADI
2831    ADI
2832    ADI
2833    ADI
Name: company, Length: 250, dtype: object
data/price_n_volume/2013
2332    AEP
2333    AEP
2334    AEP
2335    AEP
2336    AEP
       ...
2579    AEP
2580    AEP
2581    AEP
2582    AEP
2583    AEP
Name: company, Length: 252, dtype: object
2332    ANSS
2333    ANSS
2334    ANSS
2335    ANSS
2336    ANSS
        ...
2579    ANSS
2580    ANSS
2581    ANSS
2582    ANSS
2583    ANSS
Name: company, Length: 252, dtype: object
2328    ALGN
2329    ALGN
2330    ALGN
2331    ALGN
2332    ALGN
        ...
2575    ALGN
2576    ALGN
2577    ALGN
2578    ALGN
2579    ALGN
Name: company, Length: 252, dtype: object
2328    IBM
2329    IBM
2330    IBM
2331    IBM
2332    IBM
       ...
2575    IBM
2576    IBM
2577    IBM
2578    IBM
2579    IBM
Name: company, Length: 252, dtype: object
2332    AMGN
2333    AMGN
2334    AMGN
2335    AMGN
2336    AMGN
        ...
2579    AMGN
2580    AMGN
2581    AMGN
2582    AMGN
2583    AMGN
Name: company, Length: 252, dtype: object
2328    AMD
2329    AMD
2330    AMD
2331    AMD
2332    AMD
       ...
2575    AMD
2576    AMD
2577    AMD
2578    AMD
2579    AMD
Name: company, Length: 252, dtype: object
2332    AAPL
2333    AAPL
2334    AAPL
2335    AAPL
2336    AAPL
        ...
2579    AAPL
2580    AAPL
2581    AAPL
2582    AAPL
2583    AAPL
Name: company, Length: 252, dtype: object
2328    ADBE
2329    ADBE
2330    ADBE
2331    ADBE
2332    ADBE
        ...
2575    ADBE
2576    ADBE
2577    ADBE
2578    ADBE
2579    ADBE
Name: company, Length: 252, dtype: object
2328    AMZN
2329    AMZN
2330    AMZN
2331    AMZN
2332    AMZN
        ...
2575    AMZN
2576    AMZN
2577    AMZN
2578    AMZN
2579    AMZN
Name: company, Length: 252, dtype: object
2332    ADI
2333    ADI
2334    ADI
2335    ADI
2336    ADI
       ...
2579    ADI
2580    ADI
2581    ADI
2582    ADI
2583    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2003
4849    AEP
4850    AEP
4851    AEP
4852    AEP
4853    AEP
       ...
5096    AEP
5097    AEP
5098    AEP
5099    AEP
5100    AEP
Name: company, Length: 252, dtype: object
4849    ANSS
4850    ANSS
4851    ANSS
4852    ANSS
4853    ANSS
        ...
5096    ANSS
5097    ANSS
5098    ANSS
5099    ANSS
5100    ANSS
Name: company, Length: 252, dtype: object
4845    ALGN
4846    ALGN
4847    ALGN
4848    ALGN
4849    ALGN
        ...
5092    ALGN
5093    ALGN
5094    ALGN
5095    ALGN
5096    ALGN
Name: company, Length: 252, dtype: object
4845    IBM
4846    IBM
4847    IBM
4848    IBM
4849    IBM
       ...
5092    IBM
5093    IBM
5094    IBM
5095    IBM
5096    IBM
Name: company, Length: 252, dtype: object
4849    AMGN
4850    AMGN
4851    AMGN
4852    AMGN
4853    AMGN
        ...
5096    AMGN
5097    AMGN
5098    AMGN
5099    AMGN
5100    AMGN
Name: company, Length: 252, dtype: object
4845    AMD
4846    AMD
4847    AMD
4848    AMD
4849    AMD
       ...
5092    AMD
5093    AMD
5094    AMD
5095    AMD
5096    AMD
Name: company, Length: 252, dtype: object
4849    AAPL
4850    AAPL
4851    AAPL
4852    AAPL
4853    AAPL
        ...
5096    AAPL
5097    AAPL
5098    AAPL
5099    AAPL
5100    AAPL
Name: company, Length: 252, dtype: object
4845    ADBE
4846    ADBE
4847    ADBE
4848    ADBE
4849    ADBE
        ...
5092    ADBE
5093    ADBE
5094    ADBE
5095    ADBE
5096    ADBE
Name: company, Length: 252, dtype: object
4845    AMZN
4846    AMZN
4847    AMZN
4848    AMZN
4849    AMZN
        ...
5092    AMZN
5093    AMZN
5094    AMZN
5095    AMZN
5096    AMZN
Name: company, Length: 252, dtype: object
4849    ADI
4850    ADI
4851    ADI
4852    ADI
4853    ADI
       ...
5096    ADI
5097    ADI
5098    ADI
5099    ADI
5100    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/1999
5853    AEP
5854    AEP
5855    AEP
5856    AEP
5857    AEP
5858    AEP
5859    AEP
5860    AEP
5861    AEP
5862    AEP
5863    AEP
5864    AEP
5865    AEP
5866    AEP
5867    AEP
5868    AEP
5869    AEP
5870    AEP
5871    AEP
5872    AEP
5873    AEP
5874    AEP
5875    AEP
5876    AEP
5877    AEP
5878    AEP
5879    AEP
5880    AEP
5881    AEP
5882    AEP
5883    AEP
5884    AEP
5885    AEP
5886    AEP
5887    AEP
5888    AEP
5889    AEP
5890    AEP
5891    AEP
5892    AEP
5893    AEP
5894    AEP
5895    AEP
Name: company, dtype: object
5853    ANSS
5854    ANSS
5855    ANSS
5856    ANSS
5857    ANSS
5858    ANSS
5859    ANSS
5860    ANSS
5861    ANSS
5862    ANSS
5863    ANSS
5864    ANSS
5865    ANSS
5866    ANSS
5867    ANSS
5868    ANSS
5869    ANSS
5870    ANSS
5871    ANSS
5872    ANSS
5873    ANSS
5874    ANSS
5875    ANSS
5876    ANSS
5877    ANSS
5878    ANSS
5879    ANSS
5880    ANSS
5881    ANSS
5882    ANSS
5883    ANSS
5884    ANSS
5885    ANSS
5886    ANSS
5887    ANSS
5888    ANSS
5889    ANSS
5890    ANSS
5891    ANSS
5892    ANSS
5893    ANSS
5894    ANSS
5895    ANSS
Name: company, dtype: object
5849    IBM
5850    IBM
5851    IBM
5852    IBM
5853    IBM
5854    IBM
5855    IBM
5856    IBM
5857    IBM
5858    IBM
5859    IBM
5860    IBM
5861    IBM
5862    IBM
5863    IBM
5864    IBM
5865    IBM
5866    IBM
5867    IBM
5868    IBM
5869    IBM
5870    IBM
5871    IBM
5872    IBM
5873    IBM
5874    IBM
5875    IBM
5876    IBM
5877    IBM
5878    IBM
5879    IBM
5880    IBM
5881    IBM
5882    IBM
5883    IBM
5884    IBM
5885    IBM
5886    IBM
5887    IBM
5888    IBM
5889    IBM
5890    IBM
5891    IBM
Name: company, dtype: object
5853    AMGN
5854    AMGN
5855    AMGN
5856    AMGN
5857    AMGN
5858    AMGN
5859    AMGN
5860    AMGN
5861    AMGN
5862    AMGN
5863    AMGN
5864    AMGN
5865    AMGN
5866    AMGN
5867    AMGN
5868    AMGN
5869    AMGN
5870    AMGN
5871    AMGN
5872    AMGN
5873    AMGN
5874    AMGN
5875    AMGN
5876    AMGN
5877    AMGN
5878    AMGN
5879    AMGN
5880    AMGN
5881    AMGN
5882    AMGN
5883    AMGN
5884    AMGN
5885    AMGN
5886    AMGN
5887    AMGN
5888    AMGN
5889    AMGN
5890    AMGN
5891    AMGN
5892    AMGN
5893    AMGN
5894    AMGN
5895    AMGN
Name: company, dtype: object
5849    AMD
5850    AMD
5851    AMD
5852    AMD
5853    AMD
5854    AMD
5855    AMD
5856    AMD
5857    AMD
5858    AMD
5859    AMD
5860    AMD
5861    AMD
5862    AMD
5863    AMD
5864    AMD
5865    AMD
5866    AMD
5867    AMD
5868    AMD
5869    AMD
5870    AMD
5871    AMD
5872    AMD
5873    AMD
5874    AMD
5875    AMD
5876    AMD
5877    AMD
5878    AMD
5879    AMD
5880    AMD
5881    AMD
5882    AMD
5883    AMD
5884    AMD
5885    AMD
5886    AMD
5887    AMD
5888    AMD
5889    AMD
5890    AMD
5891    AMD
Name: company, dtype: object
5853    AAPL
5854    AAPL
5855    AAPL
5856    AAPL
5857    AAPL
5858    AAPL
5859    AAPL
5860    AAPL
5861    AAPL
5862    AAPL
5863    AAPL
5864    AAPL
5865    AAPL
5866    AAPL
5867    AAPL
5868    AAPL
5869    AAPL
5870    AAPL
5871    AAPL
5872    AAPL
5873    AAPL
5874    AAPL
5875    AAPL
5876    AAPL
5877    AAPL
5878    AAPL
5879    AAPL
5880    AAPL
5881    AAPL
5882    AAPL
5883    AAPL
5884    AAPL
5885    AAPL
5886    AAPL
5887    AAPL
5888    AAPL
5889    AAPL
5890    AAPL
5891    AAPL
5892    AAPL
5893    AAPL
5894    AAPL
5895    AAPL
Name: company, dtype: object
5849    ADBE
5850    ADBE
5851    ADBE
5852    ADBE
5853    ADBE
5854    ADBE
5855    ADBE
5856    ADBE
5857    ADBE
5858    ADBE
5859    ADBE
5860    ADBE
5861    ADBE
5862    ADBE
5863    ADBE
5864    ADBE
5865    ADBE
5866    ADBE
5867    ADBE
5868    ADBE
5869    ADBE
5870    ADBE
5871    ADBE
5872    ADBE
5873    ADBE
5874    ADBE
5875    ADBE
5876    ADBE
5877    ADBE
5878    ADBE
5879    ADBE
5880    ADBE
5881    ADBE
5882    ADBE
5883    ADBE
5884    ADBE
5885    ADBE
5886    ADBE
5887    ADBE
5888    ADBE
5889    ADBE
5890    ADBE
5891    ADBE
Name: company, dtype: object
5849    AMZN
5850    AMZN
5851    AMZN
5852    AMZN
5853    AMZN
5854    AMZN
5855    AMZN
5856    AMZN
5857    AMZN
5858    AMZN
5859    AMZN
5860    AMZN
5861    AMZN
5862    AMZN
5863    AMZN
5864    AMZN
5865    AMZN
5866    AMZN
5867    AMZN
5868    AMZN
5869    AMZN
5870    AMZN
5871    AMZN
5872    AMZN
5873    AMZN
5874    AMZN
5875    AMZN
5876    AMZN
5877    AMZN
5878    AMZN
5879    AMZN
5880    AMZN
5881    AMZN
5882    AMZN
5883    AMZN
5884    AMZN
5885    AMZN
5886    AMZN
5887    AMZN
5888    AMZN
5889    AMZN
5890    AMZN
5891    AMZN
Name: company, dtype: object
5853    ADI
5854    ADI
5855    ADI
5856    ADI
5857    ADI
5858    ADI
5859    ADI
5860    ADI
5861    ADI
5862    ADI
5863    ADI
5864    ADI
5865    ADI
5866    ADI
5867    ADI
5868    ADI
5869    ADI
5870    ADI
5871    ADI
5872    ADI
5873    ADI
5874    ADI
5875    ADI
5876    ADI
5877    ADI
5878    ADI
5879    ADI
5880    ADI
5881    ADI
5882    ADI
5883    ADI
5884    ADI
5885    ADI
5886    ADI
5887    ADI
5888    ADI
5889    ADI
5890    ADI
5891    ADI
5892    ADI
5893    ADI
5894    ADI
5895    ADI
Name: company, dtype: object
data/price_n_volume/2016
1576    AEP
1577    AEP
1578    AEP
1579    AEP
1580    AEP
       ...
1823    AEP
1824    AEP
1825    AEP
1826    AEP
1827    AEP
Name: company, Length: 252, dtype: object
1576    ANSS
1577    ANSS
1578    ANSS
1579    ANSS
1580    ANSS
        ...
1823    ANSS
1824    ANSS
1825    ANSS
1826    ANSS
1827    ANSS
Name: company, Length: 252, dtype: object
1572    ALGN
1573    ALGN
1574    ALGN
1575    ALGN
1576    ALGN
        ...
1819    ALGN
1820    ALGN
1821    ALGN
1822    ALGN
1823    ALGN
Name: company, Length: 252, dtype: object
1572    IBM
1573    IBM
1574    IBM
1575    IBM
1576    IBM
       ...
1819    IBM
1820    IBM
1821    IBM
1822    IBM
1823    IBM
Name: company, Length: 252, dtype: object
1576    AMGN
1577    AMGN
1578    AMGN
1579    AMGN
1580    AMGN
        ...
1823    AMGN
1824    AMGN
1825    AMGN
1826    AMGN
1827    AMGN
Name: company, Length: 252, dtype: object
1572    AMD
1573    AMD
1574    AMD
1575    AMD
1576    AMD
       ...
1819    AMD
1820    AMD
1821    AMD
1822    AMD
1823    AMD
Name: company, Length: 252, dtype: object
1576    AAPL
1577    AAPL
1578    AAPL
1579    AAPL
1580    AAPL
        ...
1823    AAPL
1824    AAPL
1825    AAPL
1826    AAPL
1827    AAPL
Name: company, Length: 252, dtype: object
1572    ADBE
1573    ADBE
1574    ADBE
1575    ADBE
1576    ADBE
        ...
1819    ADBE
1820    ADBE
1821    ADBE
1822    ADBE
1823    ADBE
Name: company, Length: 252, dtype: object
1572    AMZN
1573    AMZN
1574    AMZN
1575    AMZN
1576    AMZN
        ...
1819    AMZN
1820    AMZN
1821    AMZN
1822    AMZN
1823    AMZN
Name: company, Length: 252, dtype: object
1576    ADI
1577    ADI
1578    ADI
1579    ADI
1580    ADI
       ...
1823    ADI
1824    ADI
1825    ADI
1826    ADI
1827    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2015
1828    AEP
1829    AEP
1830    AEP
1831    AEP
1832    AEP
       ...
2075    AEP
2076    AEP
2077    AEP
2078    AEP
2079    AEP
Name: company, Length: 252, dtype: object
1828    ANSS
1829    ANSS
1830    ANSS
1831    ANSS
1832    ANSS
        ...
2075    ANSS
2076    ANSS
2077    ANSS
2078    ANSS
2079    ANSS
Name: company, Length: 252, dtype: object
1824    ALGN
1825    ALGN
1826    ALGN
1827    ALGN
1828    ALGN
        ...
2071    ALGN
2072    ALGN
2073    ALGN
2074    ALGN
2075    ALGN
Name: company, Length: 252, dtype: object
1824    IBM
1825    IBM
1826    IBM
1827    IBM
1828    IBM
       ...
2071    IBM
2072    IBM
2073    IBM
2074    IBM
2075    IBM
Name: company, Length: 252, dtype: object
1828    AMGN
1829    AMGN
1830    AMGN
1831    AMGN
1832    AMGN
        ...
2075    AMGN
2076    AMGN
2077    AMGN
2078    AMGN
2079    AMGN
Name: company, Length: 252, dtype: object
1824    AMD
1825    AMD
1826    AMD
1827    AMD
1828    AMD
       ...
2071    AMD
2072    AMD
2073    AMD
2074    AMD
2075    AMD
Name: company, Length: 252, dtype: object

1828    AAPL
1829    AAPL
1830    AAPL
1831    AAPL
1832    AAPL
        ...
2075    AAPL
2076    AAPL
2077    AAPL
2078    AAPL
2079    AAPL
Name: company, Length: 252, dtype: object
1824    ADBE
1825    ADBE
1826    ADBE
1827    ADBE
1828    ADBE
        ...
2071    ADBE
2072    ADBE
2073    ADBE
2074    ADBE
2075    ADBE
Name: company, Length: 252, dtype: object
1824    AMZN
1825    AMZN
1826    AMZN
1827    AMZN
1828    AMZN
        ...
2071    AMZN
2072    AMZN
2073    AMZN
2074    AMZN
2075    AMZN
Name: company, Length: 252, dtype: object
1828    ADI
1829    ADI
1830    ADI
1831    ADI
1832    ADI
       ...
2075    ADI
2076    ADI
2077    ADI
2078    ADI
2079    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2004
4597    AEP
4598    AEP
4599    AEP
4600    AEP
4601    AEP
       ...
4844    AEP
4845    AEP
4846    AEP
4847    AEP
4848    AEP
Name: company, Length: 252, dtype: object
4597    ANSS
4598    ANSS
4599    ANSS
4600    ANSS
4601    ANSS
        ...
4844    ANSS
4845    ANSS
4846    ANSS
4847    ANSS
4848    ANSS
Name: company, Length: 252, dtype: object
4593    ALGN
4594    ALGN
4595    ALGN
4596    ALGN
4597    ALGN
        ...
4840    ALGN
4841    ALGN
4842    ALGN
4843    ALGN
4844    ALGN
Name: company, Length: 252, dtype: object
4593    IBM
4594    IBM
4595    IBM
4596    IBM
4597    IBM
       ...
4840    IBM
4841    IBM
4842    IBM
4843    IBM
4844    IBM
Name: company, Length: 252, dtype: object
4597    AMGN
4598    AMGN
4599    AMGN
4600    AMGN
4601    AMGN
        ...
4844    AMGN
4845    AMGN
4846    AMGN
4847    AMGN
4848    AMGN
Name: company, Length: 252, dtype: object
4593    AMD
4594    AMD
4595    AMD
4596    AMD
4597    AMD
       ...
4840    AMD
4841    AMD
4842    AMD
4843    AMD
4844    AMD
Name: company, Length: 252, dtype: object
4597    AAPL
4598    AAPL
4599    AAPL
4600    AAPL
4601    AAPL
        ...
4844    AAPL
4845    AAPL
4846    AAPL
4847    AAPL
4848    AAPL
Name: company, Length: 252, dtype: object
4593    ADBE
4594    ADBE
4595    ADBE
4596    ADBE
4597    ADBE
        ...
4840    ADBE
4841    ADBE
4842    ADBE
4843    ADBE
4844    ADBE
Name: company, Length: 252, dtype: object
4593    AMZN
4594    AMZN
4595    AMZN
4596    AMZN
4597    AMZN
        ...
4840    AMZN
4841    AMZN
4842    AMZN
4843    AMZN
4844    AMZN
Name: company, Length: 252, dtype: object
4597    ADI
4598    ADI
4599    ADI
4600    ADI
4601    ADI
       ...
4844    ADI
4845    ADI
4846    ADI
4847    ADI
4848    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2000
5601    AEP
5602    AEP
5603    AEP
5604    AEP
5605    AEP
       ...
5848    AEP
5849    AEP
5850    AEP
5851    AEP
5852    AEP
Name: company, Length: 252, dtype: object
5601    ANSS
5602    ANSS
5603    ANSS
5604    ANSS
5605    ANSS
        ...
5848    ANSS
5849    ANSS
5850    ANSS
5851    ANSS
5852    ANSS
Name: company, Length: 252, dtype: object
5597    IBM
5598    IBM
5599    IBM
5600    IBM
5601    IBM
       ...
5844    IBM
5845    IBM
5846    IBM
5847    IBM
5848    IBM
Name: company, Length: 252, dtype: object
5601    AMGN
5602    AMGN
5603    AMGN
5604    AMGN
5605    AMGN
        ...
5848    AMGN
5849    AMGN
5850    AMGN
5851    AMGN
5852    AMGN
Name: company, Length: 252, dtype: object
5597    AMD
5598    AMD
5599    AMD
5600    AMD
5601    AMD
       ...
5844    AMD
5845    AMD
5846    AMD
5847    AMD
5848    AMD
Name: company, Length: 252, dtype: object
5601    AAPL
5602    AAPL
5603    AAPL
5604    AAPL
5605    AAPL
        ...
5848    AAPL
5849    AAPL
5850    AAPL
5851    AAPL
5852    AAPL
Name: company, Length: 252, dtype: object
5597    ADBE
5598    ADBE
5599    ADBE
5600    ADBE
5601    ADBE
        ...
5844    ADBE
5845    ADBE
5846    ADBE
5847    ADBE
5848    ADBE
Name: company, Length: 252, dtype: object
5597    AMZN
5598    AMZN
5599    AMZN
5600    AMZN
5601    AMZN
        ...
5844    AMZN
5845    AMZN
5846    AMZN
5847    AMZN
5848    AMZN
Name: company, Length: 252, dtype: object
5601    ADI
5602    ADI
5603    ADI
5604    ADI
5605    ADI
       ...
5848    ADI
5849    ADI
5850    ADI
5851    ADI
5852    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2018
1074    AEP
1075    AEP
1076    AEP
1077    AEP
1078    AEP
       ...
1320    AEP
1321    AEP
1322    AEP
1323    AEP
1324    AEP
Name: company, Length: 251, dtype: object
1074    ANSS
1075    ANSS
1076    ANSS
1077    ANSS
1078    ANSS
        ...
1320    ANSS
1321    ANSS
1322    ANSS
1323    ANSS
1324    ANSS
Name: company, Length: 251, dtype: object
1070    ALGN
1071    ALGN
1072    ALGN
1073    ALGN
1074    ALGN
        ...
1316    ALGN
1317    ALGN
1318    ALGN
1319    ALGN
1320    ALGN
Name: company, Length: 251, dtype: object
1070    IBM
1071    IBM
1072    IBM
1073    IBM
1074    IBM
       ...
1316    IBM
1317    IBM
1318    IBM
1319    IBM
1320    IBM
Name: company, Length: 251, dtype: object
1074    AMGN
1075    AMGN
1076    AMGN
1077    AMGN
1078    AMGN
        ...
1320    AMGN
1321    AMGN
1322    AMGN
1323    AMGN
1324    AMGN
Name: company, Length: 251, dtype: object
1070    AMD
1071    AMD
1072    AMD
1073    AMD
1074    AMD
       ...
1316    AMD
1317    AMD
1318    AMD
1319    AMD
1320    AMD
Name: company, Length: 251, dtype: object
1074    AAPL
1075    AAPL
1076    AAPL
1077    AAPL
1078    AAPL
        ...
1320    AAPL
1321    AAPL
1322    AAPL
1323    AAPL
1324    AAPL
Name: company, Length: 251, dtype: object
1070    ADBE
1071    ADBE
1072    ADBE
1073    ADBE
1074    ADBE
        ...
1316    ADBE
1317    ADBE
1318    ADBE
1319    ADBE
1320    ADBE
Name: company, Length: 251, dtype: object
1070    AMZN
1071    AMZN
1072    AMZN
1073    AMZN
1074    AMZN
        ...
1316    AMZN
1317    AMZN
1318    AMZN
1319    AMZN
1320    AMZN
Name: company, Length: 251, dtype: object
1074    ADI
1075    ADI
1076    ADI
1077    ADI
1078    ADI
       ...
1320    ADI
1321    ADI
1322    ADI
1323    ADI
1324    ADI
Name: company, Length: 251, dtype: object
data/price_n_volume/2017
1325    AEP
1326    AEP
1327    AEP
1328    AEP
1329    AEP
       ...
1571    AEP
1572    AEP
1573    AEP
1574    AEP
1575    AEP
Name: company, Length: 251, dtype: object
1325    ANSS
1326    ANSS
1327    ANSS
1328    ANSS
1329    ANSS
        ...
1571    ANSS
1572    ANSS
1573    ANSS
1574    ANSS
1575    ANSS
Name: company, Length: 251, dtype: object
1321    ALGN
1322    ALGN
1323    ALGN
1324    ALGN
1325    ALGN
        ...
1567    ALGN
1568    ALGN
1569    ALGN
1570    ALGN
1571    ALGN
Name: company, Length: 251, dtype: object
1321    IBM
1322    IBM
1323    IBM
1324    IBM
1325    IBM
       ...
1567    IBM
1568    IBM
1569    IBM
1570    IBM
1571    IBM
Name: company, Length: 251, dtype: object
1325    AMGN
1326    AMGN
1327    AMGN
1328    AMGN
1329    AMGN
        ...
1571    AMGN
1572    AMGN
1573    AMGN
1574    AMGN
1575    AMGN
Name: company, Length: 251, dtype: object
1321    AMD
1322    AMD
1323    AMD
1324    AMD
1325    AMD
       ...
1567    AMD
1568    AMD
1569    AMD
1570    AMD
1571    AMD
Name: company, Length: 251, dtype: object
1325    AAPL
1326    AAPL
1327    AAPL
1328    AAPL
1329    AAPL
        ...
1571    AAPL
1572    AAPL
1573    AAPL
1574    AAPL
1575    AAPL
Name: company, Length: 251, dtype: object
1321    ADBE
1322    ADBE
1323    ADBE
1324    ADBE
1325    ADBE
        ...
1567    ADBE
1568    ADBE
1569    ADBE
1570    ADBE
1571    ADBE
Name: company, Length: 251, dtype: object
1321    AMZN
1322    AMZN
1323    AMZN
1324    AMZN
1325    AMZN
        ...
1567    AMZN
1568    AMZN
1569    AMZN
1570    AMZN
1571    AMZN
Name: company, Length: 251, dtype: object
1325    ADI
1326    ADI
1327    ADI
1328    ADI
1329    ADI
       ...
1571    ADI
1572    ADI
1573    ADI
1574    ADI
1575    ADI
Name: company, Length: 251, dtype: object
data/price_n_volume/2011
2834    AEP
2835    AEP
2836    AEP
2837    AEP
2838    AEP
       ...
3081    AEP
3082    AEP
3083    AEP
3084    AEP
3085    AEP
Name: company, Length: 252, dtype: object
2834    ANSS
2835    ANSS
2836    ANSS
2837    ANSS
2838    ANSS
        ...
3081    ANSS
3082    ANSS
3083    ANSS
3084    ANSS
3085    ANSS
Name: company, Length: 252, dtype: object
2830    ALGN
2831    ALGN
2832    ALGN
2833    ALGN
2834    ALGN
        ...
3077    ALGN
3078    ALGN
3079    ALGN
3080    ALGN
3081    ALGN
Name: company, Length: 252, dtype: object
2830    IBM
2831    IBM
2832    IBM
2833    IBM
2834    IBM
       ...
3077    IBM
3078    IBM
3079    IBM
3080    IBM
3081    IBM
Name: company, Length: 252, dtype: object
2834    AMGN
2835    AMGN
2836    AMGN
2837    AMGN
2838    AMGN
        ...
3081    AMGN
3082    AMGN
3083    AMGN
3084    AMGN
3085    AMGN
Name: company, Length: 252, dtype: object
2830    AMD
2831    AMD
2832    AMD
2833    AMD
2834    AMD
       ...
3077    AMD
3078    AMD
3079    AMD
3080    AMD
3081    AMD
Name: company, Length: 252, dtype: object
2834    AAPL
2835    AAPL
2836    AAPL
2837    AAPL
2838    AAPL
        ...
3081    AAPL
3082    AAPL
3083    AAPL
3084    AAPL
3085    AAPL
Name: company, Length: 252, dtype: object
2830    ADBE
2831    ADBE
2832    ADBE
2833    ADBE
2834    ADBE
        ...
3077    ADBE
3078    ADBE
3079    ADBE
3080    ADBE
3081    ADBE
Name: company, Length: 252, dtype: object
2830    AMZN
2831    AMZN
2832    AMZN
2833    AMZN
2834    AMZN
        ...
3077    AMZN
3078    AMZN
3079    AMZN
3080    AMZN
3081    AMZN
Name: company, Length: 252, dtype: object
2834    ADI
2835    ADI
2836    ADI
2837    ADI
2838    ADI
       ...
3081    ADI
3082    ADI
3083    ADI
3084    ADI
3085    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2002
5101    AEP
5102    AEP
5103    AEP
5104    AEP
5105    AEP
       ...
5348    AEP
5349    AEP
5350    AEP
5351    AEP
5352    AEP
Name: company, Length: 252, dtype: object
5101    ANSS
5102    ANSS
5103    ANSS
5104    ANSS
5105    ANSS
        ...
5348    ANSS
5349    ANSS
5350    ANSS
5351    ANSS
5352    ANSS
Name: company, Length: 252, dtype: object
5097    ALGN
5098    ALGN
5099    ALGN
5100    ALGN
5101    ALGN
        ...
5344    ALGN
5345    ALGN
5346    ALGN
5347    ALGN
5348    ALGN
Name: company, Length: 252, dtype: object
5097    IBM
5098    IBM
5099    IBM
5100    IBM
5101    IBM
       ...
5344    IBM
5345    IBM
5346    IBM
5347    IBM
5348    IBM
Name: company, Length: 252, dtype: object
5101    AMGN
5102    AMGN
5103    AMGN
5104    AMGN
5105    AMGN
        ...
5348    AMGN
5349    AMGN
5350    AMGN
5351    AMGN
5352    AMGN
Name: company, Length: 252, dtype: object
5097    AMD
5098    AMD
5099    AMD
5100    AMD
5101    AMD
       ...
5344    AMD
5345    AMD
5346    AMD
5347    AMD
5348    AMD
Name: company, Length: 252, dtype: object

5101    AAPL
5102    AAPL
5103    AAPL
5104    AAPL
5105    AAPL
        ...
5348    AAPL
5349    AAPL
5350    AAPL
5351    AAPL
5352    AAPL
Name: company, Length: 252, dtype: object
5097    ADBE
5098    ADBE
5099    ADBE
5100    ADBE
5101    ADBE
        ...
5344    ADBE
5345    ADBE
5346    ADBE
5347    ADBE
5348    ADBE
Name: company, Length: 252, dtype: object
5097    AMZN
5098    AMZN
5099    AMZN
5100    AMZN
5101    AMZN
        ...
5344    AMZN
5345    AMZN
5346    AMZN
5347    AMZN
5348    AMZN
Name: company, Length: 252, dtype: object
5101    ADI
5102    ADI
5103    ADI
5104    ADI
5105    ADI
       ...
5348    ADI
5349    ADI
5350    ADI
5351    ADI
5352    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2005
4345    AEP
4346    AEP
4347    AEP
4348    AEP
4349    AEP
       ...
4592    AEP
4593    AEP
4594    AEP
4595    AEP
4596    AEP
Name: company, Length: 252, dtype: object
4345    ANSS
4346    ANSS
4347    ANSS
4348    ANSS
4349    ANSS
        ...
4592    ANSS
4593    ANSS
4594    ANSS
4595    ANSS
4596    ANSS
Name: company, Length: 252, dtype: object
4341    ALGN
4342    ALGN
4343    ALGN
4344    ALGN
4345    ALGN
        ...
4588    ALGN
4589    ALGN
4590    ALGN
4591    ALGN
4592    ALGN
Name: company, Length: 252, dtype: object
4341    IBM
4342    IBM
4343    IBM
4344    IBM
4345    IBM
       ...
4588    IBM
4589    IBM
4590    IBM
4591    IBM
4592    IBM
Name: company, Length: 252, dtype: object
4345    AMGN
4346    AMGN
4347    AMGN
4348    AMGN
4349    AMGN
        ...
4592    AMGN
4593    AMGN
4594    AMGN
4595    AMGN
4596    AMGN
Name: company, Length: 252, dtype: object
4341    AMD
4342    AMD
4343    AMD
4344    AMD
4345    AMD
       ...
4588    AMD
4589    AMD
4590    AMD
4591    AMD
4592    AMD
Name: company, Length: 252, dtype: object
4345    AAPL
4346    AAPL
4347    AAPL
4348    AAPL
4349    AAPL
        ...
4592    AAPL
4593    AAPL
4594    AAPL
4595    AAPL
4596    AAPL
Name: company, Length: 252, dtype: object
4341    ADBE
4342    ADBE
4343    ADBE
4344    ADBE
4345    ADBE
        ...
4588    ADBE
4589    ADBE
4590    ADBE
4591    ADBE
4592    ADBE
Name: company, Length: 252, dtype: object
4341    AMZN
4342    AMZN
4343    AMZN
4344    AMZN
4345    AMZN
        ...
4588    AMZN
4589    AMZN
4590    AMZN
4591    AMZN
4592    AMZN
Name: company, Length: 252, dtype: object
4345    ADI
4346    ADI
4347    ADI
4348    ADI
4349    ADI
       ...
4592    ADI
4593    ADI
4594    ADI
4595    ADI
4596    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2023
0     AEP
1     AEP
2     AEP
3     AEP
4     AEP
     ...
61    AEP
62    AEP
63    AEP
64    AEP
65    AEP
Name: company, Length: 66, dtype: object
0     ANSS
1     ANSS
2     ANSS
3     ANSS
4     ANSS
      ...
61    ANSS
62    ANSS
63    ANSS
64    ANSS
65    ANSS
Name: company, Length: 66, dtype: object
0     ALGN
1     ALGN
2     ALGN
3     ALGN
4     ALGN
      ...
57    ALGN
58    ALGN
59    ALGN
60    ALGN
61    ALGN
Name: company, Length: 62, dtype: object
0     IBM
1     IBM
2     IBM
3     IBM
4     IBM
     ...
57    IBM
58    IBM
59    IBM
60    IBM
61    IBM
Name: company, Length: 62, dtype: object
0     AMGN
1     AMGN
2     AMGN
3     AMGN
4     AMGN
      ...
61    AMGN
62    AMGN
63    AMGN
64    AMGN
65    AMGN
Name: company, Length: 66, dtype: object
0     AMD
1     AMD
2     AMD
3     AMD
4     AMD
     ...
57    AMD
58    AMD
59    AMD
60    AMD
61    AMD
Name: company, Length: 62, dtype: object
0     ABNB
1     ABNB
2     ABNB
3     ABNB
4     ABNB
      ...
57    ABNB
58    ABNB
59    ABNB
60    ABNB
61    ABNB
Name: company, Length: 62, dtype: object
0     AAPL
1     AAPL
2     AAPL
3     AAPL
4     AAPL
      ...
61    AAPL
62    AAPL
63    AAPL
64    AAPL
65    AAPL
Name: company, Length: 66, dtype: object
0     ADBE
1     ADBE
2     ADBE
3     ADBE
4     ADBE
      ...
57    ADBE
58    ADBE
59    ADBE
60    ADBE
61    ADBE
Name: company, Length: 62, dtype: object
0     AMZN
1     AMZN
2     AMZN
3     AMZN
4     AMZN
      ...
57    AMZN
58    AMZN
59    AMZN
60    AMZN
61    AMZN
Name: company, Length: 62, dtype: object
0     ADI
1     ADI
2     ADI
3     ADI
4     ADI
     ...
61    ADI
62    ADI
63    ADI
64    ADI
65    ADI
Name: company, Length: 66, dtype: object
data/price_n_volume/2021
317    AEP
318    AEP
319    AEP
320    AEP
321    AEP
      ...
564    AEP
565    AEP
566    AEP
567    AEP
568    AEP
Name: company, Length: 252, dtype: object
317    ANSS
318    ANSS
319    ANSS
320    ANSS
321    ANSS
       ...
564    ANSS
565    ANSS
566    ANSS
567    ANSS
568    ANSS
Name: company, Length: 252, dtype: object
313    ALGN
314    ALGN
315    ALGN
316    ALGN
317    ALGN
       ...
560    ALGN
561    ALGN
562    ALGN
563    ALGN
564    ALGN
Name: company, Length: 252, dtype: object
313    IBM
314    IBM
315    IBM
316    IBM
317    IBM
      ...
560    IBM
561    IBM
562    IBM
563    IBM
564    IBM
Name: company, Length: 252, dtype: object
317    AMGN
318    AMGN
319    AMGN
320    AMGN
321    AMGN
       ...
564    AMGN
565    AMGN
566    AMGN
567    AMGN
568    AMGN
Name: company, Length: 252, dtype: object
313    AMD
314    AMD
315    AMD
316    AMD
317    AMD
      ...
560    AMD
561    AMD
562    AMD
563    AMD
564    AMD
Name: company, Length: 252, dtype: object
313    ABNB
314    ABNB
315    ABNB
316    ABNB
317    ABNB
       ...
560    ABNB
561    ABNB
562    ABNB
563    ABNB
564    ABNB
Name: company, Length: 252, dtype: object
317    AAPL
318    AAPL
319    AAPL
320    AAPL
321    AAPL
       ...
564    AAPL
565    AAPL
566    AAPL
567    AAPL
568    AAPL
Name: company, Length: 252, dtype: object
313    ADBE
314    ADBE
315    ADBE
316    ADBE
317    ADBE
       ...
560    ADBE
561    ADBE
562    ADBE
563    ADBE
564    ADBE
Name: company, Length: 252, dtype: object
313    AMZN
314    AMZN
315    AMZN
316    AMZN
317    AMZN
       ...
560    AMZN
561    AMZN
562    AMZN
563    AMZN
564    AMZN
Name: company, Length: 252, dtype: object
317    ADI
318    ADI
319    ADI
320    ADI
321    ADI
      ...
564    ADI
565    ADI
566    ADI
567    ADI
568    ADI
Name: company, Length: 252, dtype: object
data/price_n_volume/2008
3590    AEP
3591    AEP
3592    AEP
3593    AEP
3594    AEP
       ...
3838    AEP
3839    AEP
3840    AEP
3841    AEP
3842    AEP
Name: company, Length: 253, dtype: object
3590    ANSS
3591    ANSS
3592    ANSS
3593    ANSS
3594    ANSS
        ...
3838    ANSS
3839    ANSS
3840    ANSS
3841    ANSS
3842    ANSS
Name: company, Length: 253, dtype: object
3586    ALGN
3587    ALGN
3588    ALGN
3589    ALGN
3590    ALGN
        ...
3834    ALGN
3835    ALGN
3836    ALGN
3837    ALGN
3838    ALGN
Name: company, Length: 253, dtype: object
3586    IBM
3587    IBM
3588    IBM
3589    IBM
3590    IBM
       ...
3834    IBM
3835    IBM
3836    IBM
3837    IBM
3838    IBM
Name: company, Length: 253, dtype: object
3590    AMGN
3591    AMGN
3592    AMGN
3593    AMGN
3594    AMGN
        ...
3838    AMGN
3839    AMGN
3840    AMGN
3841    AMGN
3842    AMGN
Name: company, Length: 253, dtype: object
3586    AMD
3587    AMD
3588    AMD
3589    AMD
3590    AMD
       ...
3834    AMD
3835    AMD
3836    AMD
3837    AMD
3838    AMD
Name: company, Length: 253, dtype: object
3590    AAPL
3591    AAPL
3592    AAPL
3593    AAPL
3594    AAPL
        ...
3838    AAPL
3839    AAPL
3840    AAPL
3841    AAPL
3842    AAPL
Name: company, Length: 253, dtype: object
3586    ADBE
3587    ADBE
3588    ADBE
3589    ADBE
3590    ADBE
        ...
3834    ADBE
3835    ADBE
3836    ADBE
3837    ADBE
3838    ADBE
Name: company, Length: 253, dtype: object
3586    AMZN
3587    AMZN
3588    AMZN
3589    AMZN
3590    AMZN
        ...
3834    AMZN
3835    AMZN
3836    AMZN
3837    AMZN
3838    AMZN
Name: company, Length: 253, dtype: object
3590    ADI
3591    ADI
3592    ADI
3593    ADI
3594    ADI
       ...
3838    ADI
3839    ADI
3840    ADI
3841    ADI
3842    ADI
Name: company, Length: 253, dtype: object

In [4]:
# itr 2
import pandas as pd 
import glob
import os

read_path = f'data/price_n_volume/'
csv_files = glob.glob(read_path + "2023/*.parquet")
csv_files +=  glob.glob(read_path + "2022/*.parquet")

df_list = (pd.read_parquet(file) for file in csv_files)

In [6]:
big_df   = pd.concat(df_list, ignore_index=True)

In [7]:
big_df.head()

index,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,close_percent_change,company
0,2023-04-06,95.33,96.05,93.92,94.89,94.89,2991555,0.0,1.0,0.3702,AEP
1,2023-04-05,91.82,94.91,91.74,94.54,94.54,4232666,0.0,1.0,3.6964,AEP
2,2023-04-04,90.68,91.34,90.40,91.17,91.17,3146916,0.0,1.0,0.2970,AEP
3,2023-04-03,90.47,91.62,90.11,90.90,90.90,2926225,0.0,1.0,-0.0989,AEP
4,2023-03-31,90.85,91.14,90.31,90.99,90.99,2210556,0.0,1.0,0.6193,AEP

In [8]:
len(big_df.date.unique())

317

In [15]:
for date_ in big_df.date.unique():
    df_date = big_df[big_df['date'] == date_]
    print(f'{date_} ka length = {len(df_date)}')
    path = f'data/price_n_volume/recent/'
    isExist = os.path.exists(path)
    if not isExist:
        os.makedirs(path)
        print("The new directory is created!")
    df_date.to_parquet(f'{path}/{date_}.parquet')
    # break
# df_date.head()

2023-04-06T00:00:00.000000000 ka length = 5
The new directory is created!
2023-04-05T00:00:00.000000000 ka length = 5
2023-04-04T00:00:00.000000000 ka length = 5
2023-04-03T00:00:00.000000000 ka length = 5
2023-03-31T00:00:00.000000000 ka length = 11
2023-03-30T00:00:00.000000000 ka length = 11
2023-03-29T00:00:00.000000000 ka length = 11
2023-03-28T00:00:00.000000000 ka length = 11
2023-03-27T00:00:00.000000000 ka length = 11
2023-03-24T00:00:00.000000000 ka length = 11
2023-03-23T00:00:00.000000000 ka length = 11
2023-03-22T00:00:00.000000000 ka length = 11
2023-03-21T00:00:00.000000000 ka length = 11
2023-03-20T00:00:00.000000000 ka length = 11
2023-03-17T00:00:00.000000000 ka length = 11
2023-03-16T00:00:00.000000000 ka length = 11
2023-03-15T00:00:00.000000000 ka length = 11
2023-03-14T00:00:00.000000000 ka length = 11
2023-03-13T00:00:00.000000000 ka length = 11
2023-03-10T00:00:00.000000000 ka length = 11
2023-03-09T00:00:00.000000000 ka length = 11
2023-03-08T00:00:00.000000000 ka length = 11
2023-03-07T00:00:00.000000000 ka length = 11
2023-03-06T00:00:00.000000000 ka length = 11
2023-03-03T00:00:00.000000000 ka length = 11
2023-03-02T00:00:00.000000000 ka length = 11
2023-03-01T00:00:00.000000000 ka length = 11
2023-02-28T00:00:00.000000000 ka length = 11
2023-02-27T00:00:00.000000000 ka length = 11
2023-02-24T00:00:00.000000000 ka length = 11
2023-02-23T00:00:00.000000000 ka length = 11
2023-02-22T00:00:00.000000000 ka length = 11
2023-02-21T00:00:00.000000000 ka length = 11
2023-02-17T00:00:00.000000000 ka length = 11
2023-02-16T00:00:00.000000000 ka length = 11
2023-02-15T00:00:00.000000000 ka length = 11
2023-02-14T00:00:00.000000000 ka length = 11
2023-02-13T00:00:00.000000000 ka length = 11
2023-02-10T00:00:00.000000000 ka length = 11
2023-02-09T00:00:00.000000000 ka length = 11
2023-02-08T00:00:00.000000000 ka length = 11
2023-02-07T00:00:00.000000000 ka length = 11
2023-02-06T00:00:00.000000000 ka length = 11
2023-02-03T00:00:00.000000000 ka length = 11
2023-02-02T00:00:00.000000000 ka length = 11
2023-02-01T00:00:00.000000000 ka length = 11
2023-01-31T00:00:00.000000000 ka length = 11
2023-01-30T00:00:00.000000000 ka length = 11
2023-01-27T00:00:00.000000000 ka length = 11
2023-01-26T00:00:00.000000000 ka length = 11
2023-01-25T00:00:00.000000000 ka length = 11
2023-01-24T00:00:00.000000000 ka length = 11
2023-01-23T00:00:00.000000000 ka length = 11
2023-01-20T00:00:00.000000000 ka length = 11
2023-01-19T00:00:00.000000000 ka length = 11
2023-01-18T00:00:00.000000000 ka length = 11
2023-01-17T00:00:00.000000000 ka length = 11
2023-01-13T00:00:00.000000000 ka length = 11
2023-01-12T00:00:00.000000000 ka length = 11
2023-01-11T00:00:00.000000000 ka length = 11
2023-01-10T00:00:00.000000000 ka length = 11
2023-01-09T00:00:00.000000000 ka length = 11
2023-01-06T00:00:00.000000000 ka length = 11
2023-01-05T00:00:00.000000000 ka length = 11
2023-01-04T00:00:00.000000000 ka length = 11
2023-01-03T00:00:00.000000000 ka length = 11
2022-12-30T00:00:00.000000000 ka length = 11
2022-12-29T00:00:00.000000000 ka length = 11
2022-12-28T00:00:00.000000000 ka length = 11
2022-12-27T00:00:00.000000000 ka length = 11
2022-12-23T00:00:00.000000000 ka length = 11
2022-12-22T00:00:00.000000000 ka length = 11
2022-12-21T00:00:00.000000000 ka length = 11
2022-12-20T00:00:00.000000000 ka length = 11
2022-12-19T00:00:00.000000000 ka length = 11
2022-12-16T00:00:00.000000000 ka length = 11
2022-12-15T00:00:00.000000000 ka length = 11
2022-12-14T00:00:00.000000000 ka length = 11
2022-12-13T00:00:00.000000000 ka length = 11
2022-12-12T00:00:00.000000000 ka length = 11
2022-12-09T00:00:00.000000000 ka length = 11
2022-12-08T00:00:00.000000000 ka length = 11
2022-12-07T00:00:00.000000000 ka length = 11
2022-12-06T00:00:00.000000000 ka length = 11
2022-12-05T00:00:00.000000000 ka length = 11
2022-12-02T00:00:00.000000000 ka length = 11
2022-12-01T00:00:00.000000000 ka length = 11
2022-11-30T00:00:00.000000000 ka length = 11
2022-11-29T00:00:00.000000000 ka length = 11
2022-11-28T00:00:00.000000000 ka length = 11
2022-11-25T00:00:00.000000000 ka length = 11
2022-11-23T00:00:00.000000000 ka length = 11
2022-11-22T00:00:00.000000000 ka length = 11
2022-11-21T00:00:00.000000000 ka length = 11
2022-11-18T00:00:00.000000000 ka length = 11
2022-11-17T00:00:00.000000000 ka length = 11
2022-11-16T00:00:00.000000000 ka length = 11
2022-11-15T00:00:00.000000000 ka length = 11
2022-11-14T00:00:00.000000000 ka length = 11
2022-11-11T00:00:00.000000000 ka length = 11
2022-11-10T00:00:00.000000000 ka length = 11
2022-11-09T00:00:00.000000000 ka length = 11
2022-11-08T00:00:00.000000000 ka length = 11
2022-11-07T00:00:00.000000000 ka length = 11
2022-11-04T00:00:00.000000000 ka length = 11
2022-11-03T00:00:00.000000000 ka length = 11
2022-11-02T00:00:00.000000000 ka length = 11
2022-11-01T00:00:00.000000000 ka length = 11
2022-10-31T00:00:00.000000000 ka length = 11
2022-10-28T00:00:00.000000000 ka length = 11
2022-10-27T00:00:00.000000000 ka length = 11
2022-10-26T00:00:00.000000000 ka length = 11
2022-10-25T00:00:00.000000000 ka length = 11
2022-10-24T00:00:00.000000000 ka length = 11
2022-10-21T00:00:00.000000000 ka length = 11
2022-10-20T00:00:00.000000000 ka length = 11
2022-10-19T00:00:00.000000000 ka length = 11
2022-10-18T00:00:00.000000000 ka length = 11
2022-10-17T00:00:00.000000000 ka length = 11
2022-10-14T00:00:00.000000000 ka length = 11
2022-10-13T00:00:00.000000000 ka length = 11
2022-10-12T00:00:00.000000000 ka length = 11
2022-10-11T00:00:00.000000000 ka length = 11
2022-10-10T00:00:00.000000000 ka length = 11
2022-10-07T00:00:00.000000000 ka length = 11
2022-10-06T00:00:00.000000000 ka length = 11
2022-10-05T00:00:00.000000000 ka length = 11
2022-10-04T00:00:00.000000000 ka length = 11
2022-10-03T00:00:00.000000000 ka length = 11
2022-09-30T00:00:00.000000000 ka length = 11
2022-09-29T00:00:00.000000000 ka length = 11
2022-09-28T00:00:00.000000000 ka length = 11
2022-09-27T00:00:00.000000000 ka length = 11
2022-09-26T00:00:00.000000000 ka length = 11
2022-09-23T00:00:00.000000000 ka length = 11
2022-09-22T00:00:00.000000000 ka length = 11
2022-09-21T00:00:00.000000000 ka length = 11
2022-09-20T00:00:00.000000000 ka length = 11
2022-09-19T00:00:00.000000000 ka length = 11
2022-09-16T00:00:00.000000000 ka length = 11
2022-09-15T00:00:00.000000000 ka length = 11
2022-09-14T00:00:00.000000000 ka length = 11
2022-09-13T00:00:00.000000000 ka length = 11
2022-09-12T00:00:00.000000000 ka length = 11
2022-09-09T00:00:00.000000000 ka length = 11
2022-09-08T00:00:00.000000000 ka length = 11
2022-09-07T00:00:00.000000000 ka length = 11
2022-09-06T00:00:00.000000000 ka length = 11
2022-09-02T00:00:00.000000000 ka length = 11
2022-09-01T00:00:00.000000000 ka length = 11
2022-08-31T00:00:00.000000000 ka length = 11
2022-08-30T00:00:00.000000000 ka length = 11
2022-08-29T00:00:00.000000000 ka length = 11
2022-08-26T00:00:00.000000000 ka length = 11
2022-08-25T00:00:00.000000000 ka length = 11
2022-08-24T00:00:00.000000000 ka length = 11
2022-08-23T00:00:00.000000000 ka length = 11
2022-08-22T00:00:00.000000000 ka length = 11
2022-08-19T00:00:00.000000000 ka length = 11
2022-08-18T00:00:00.000000000 ka length = 11
2022-08-17T00:00:00.000000000 ka length = 11
2022-08-16T00:00:00.000000000 ka length = 11
2022-08-15T00:00:00.000000000 ka length = 11
2022-08-12T00:00:00.000000000 ka length = 11
2022-08-11T00:00:00.000000000 ka length = 11
2022-08-10T00:00:00.000000000 ka length = 11
2022-08-09T00:00:00.000000000 ka length = 11
2022-08-08T00:00:00.000000000 ka length = 11
2022-08-05T00:00:00.000000000 ka length = 11
2022-08-04T00:00:00.000000000 ka length = 11
2022-08-03T00:00:00.000000000 ka length = 11
2022-08-02T00:00:00.000000000 ka length = 11
2022-08-01T00:00:00.000000000 ka length = 11
2022-07-29T00:00:00.000000000 ka length = 11
2022-07-28T00:00:00.000000000 ka length = 11
2022-07-27T00:00:00.000000000 ka length = 11
2022-07-26T00:00:00.000000000 ka length = 11
2022-07-25T00:00:00.000000000 ka length = 11
2022-07-22T00:00:00.000000000 ka length = 11
2022-07-21T00:00:00.000000000 ka length = 11
2022-07-20T00:00:00.000000000 ka length = 11
2022-07-19T00:00:00.000000000 ka length = 11
2022-07-18T00:00:00.000000000 ka length = 11
2022-07-15T00:00:00.000000000 ka length = 11
2022-07-14T00:00:00.000000000 ka length = 11
2022-07-13T00:00:00.000000000 ka length = 11
2022-07-12T00:00:00.000000000 ka length = 11
2022-07-11T00:00:00.000000000 ka length = 11
2022-07-08T00:00:00.000000000 ka length = 11
2022-07-07T00:00:00.000000000 ka length = 11
2022-07-06T00:00:00.000000000 ka length = 11
2022-07-05T00:00:00.000000000 ka length = 11
2022-07-01T00:00:00.000000000 ka length = 11
2022-06-30T00:00:00.000000000 ka length = 11
2022-06-29T00:00:00.000000000 ka length = 11
2022-06-28T00:00:00.000000000 ka length = 11
2022-06-27T00:00:00.000000000 ka length = 11
2022-06-24T00:00:00.000000000 ka length = 11
2022-06-23T00:00:00.000000000 ka length = 11
2022-06-22T00:00:00.000000000 ka length = 11
2022-06-21T00:00:00.000000000 ka length = 11
2022-06-17T00:00:00.000000000 ka length = 11

2022-06-16T00:00:00.000000000 ka length = 11
2022-06-15T00:00:00.000000000 ka length = 11
2022-06-14T00:00:00.000000000 ka length = 11
2022-06-13T00:00:00.000000000 ka length = 11
2022-06-10T00:00:00.000000000 ka length = 11
2022-06-09T00:00:00.000000000 ka length = 11
2022-06-08T00:00:00.000000000 ka length = 11
2022-06-07T00:00:00.000000000 ka length = 11
2022-06-06T00:00:00.000000000 ka length = 11
2022-06-03T00:00:00.000000000 ka length = 11
2022-06-02T00:00:00.000000000 ka length = 11
2022-06-01T00:00:00.000000000 ka length = 11
2022-05-31T00:00:00.000000000 ka length = 11
2022-05-27T00:00:00.000000000 ka length = 11
2022-05-26T00:00:00.000000000 ka length = 11
2022-05-25T00:00:00.000000000 ka length = 11
2022-05-24T00:00:00.000000000 ka length = 11
2022-05-23T00:00:00.000000000 ka length = 11
2022-05-20T00:00:00.000000000 ka length = 11
2022-05-19T00:00:00.000000000 ka length = 11
2022-05-18T00:00:00.000000000 ka length = 11
2022-05-17T00:00:00.000000000 ka length = 11
2022-05-16T00:00:00.000000000 ka length = 11
2022-05-13T00:00:00.000000000 ka length = 11
2022-05-12T00:00:00.000000000 ka length = 11
2022-05-11T00:00:00.000000000 ka length = 11
2022-05-10T00:00:00.000000000 ka length = 11
2022-05-09T00:00:00.000000000 ka length = 11
2022-05-06T00:00:00.000000000 ka length = 11
2022-05-05T00:00:00.000000000 ka length = 11
2022-05-04T00:00:00.000000000 ka length = 11
2022-05-03T00:00:00.000000000 ka length = 11
2022-05-02T00:00:00.000000000 ka length = 11
2022-04-29T00:00:00.000000000 ka length = 11
2022-04-28T00:00:00.000000000 ka length = 11
2022-04-27T00:00:00.000000000 ka length = 11
2022-04-26T00:00:00.000000000 ka length = 11
2022-04-25T00:00:00.000000000 ka length = 11
2022-04-22T00:00:00.000000000 ka length = 11
2022-04-21T00:00:00.000000000 ka length = 11
2022-04-20T00:00:00.000000000 ka length = 11
2022-04-19T00:00:00.000000000 ka length = 11
2022-04-18T00:00:00.000000000 ka length = 11
2022-04-14T00:00:00.000000000 ka length = 11
2022-04-13T00:00:00.000000000 ka length = 11
2022-04-12T00:00:00.000000000 ka length = 11
2022-04-11T00:00:00.000000000 ka length = 11
2022-04-08T00:00:00.000000000 ka length = 11
2022-04-07T00:00:00.000000000 ka length = 11
2022-04-06T00:00:00.000000000 ka length = 11
2022-04-05T00:00:00.000000000 ka length = 11
2022-04-04T00:00:00.000000000 ka length = 11
2022-04-01T00:00:00.000000000 ka length = 11
2022-03-31T00:00:00.000000000 ka length = 11
2022-03-30T00:00:00.000000000 ka length = 11
2022-03-29T00:00:00.000000000 ka length = 11
2022-03-28T00:00:00.000000000 ka length = 11
2022-03-25T00:00:00.000000000 ka length = 11
2022-03-24T00:00:00.000000000 ka length = 11
2022-03-23T00:00:00.000000000 ka length = 11
2022-03-22T00:00:00.000000000 ka length = 11
2022-03-21T00:00:00.000000000 ka length = 11
2022-03-18T00:00:00.000000000 ka length = 11
2022-03-17T00:00:00.000000000 ka length = 11
2022-03-16T00:00:00.000000000 ka length = 11
2022-03-15T00:00:00.000000000 ka length = 11
2022-03-14T00:00:00.000000000 ka length = 11
2022-03-11T00:00:00.000000000 ka length = 11
2022-03-10T00:00:00.000000000 ka length = 11
2022-03-09T00:00:00.000000000 ka length = 11
2022-03-08T00:00:00.000000000 ka length = 11
2022-03-07T00:00:00.000000000 ka length = 11
2022-03-04T00:00:00.000000000 ka length = 11
2022-03-03T00:00:00.000000000 ka length = 11
2022-03-02T00:00:00.000000000 ka length = 11
2022-03-01T00:00:00.000000000 ka length = 11
2022-02-28T00:00:00.000000000 ka length = 11
2022-02-25T00:00:00.000000000 ka length = 11
2022-02-24T00:00:00.000000000 ka length = 11
2022-02-23T00:00:00.000000000 ka length = 11
2022-02-22T00:00:00.000000000 ka length = 11
2022-02-18T00:00:00.000000000 ka length = 11
2022-02-17T00:00:00.000000000 ka length = 11
2022-02-16T00:00:00.000000000 ka length = 11
2022-02-15T00:00:00.000000000 ka length = 11
2022-02-14T00:00:00.000000000 ka length = 11
2022-02-11T00:00:00.000000000 ka length = 11
2022-02-10T00:00:00.000000000 ka length = 11
2022-02-09T00:00:00.000000000 ka length = 11
2022-02-08T00:00:00.000000000 ka length = 11
2022-02-07T00:00:00.000000000 ka length = 11
2022-02-04T00:00:00.000000000 ka length = 11
2022-02-03T00:00:00.000000000 ka length = 11
2022-02-02T00:00:00.000000000 ka length = 11
2022-02-01T00:00:00.000000000 ka length = 11
2022-01-31T00:00:00.000000000 ka length = 11
2022-01-28T00:00:00.000000000 ka length = 11
2022-01-27T00:00:00.000000000 ka length = 11
2022-01-26T00:00:00.000000000 ka length = 11
2022-01-25T00:00:00.000000000 ka length = 11
2022-01-24T00:00:00.000000000 ka length = 11
2022-01-21T00:00:00.000000000 ka length = 11
2022-01-20T00:00:00.000000000 ka length = 11
2022-01-19T00:00:00.000000000 ka length = 11
2022-01-18T00:00:00.000000000 ka length = 11
2022-01-14T00:00:00.000000000 ka length = 11
2022-01-13T00:00:00.000000000 ka length = 11
2022-01-12T00:00:00.000000000 ka length = 11
2022-01-11T00:00:00.000000000 ka length = 11
2022-01-10T00:00:00.000000000 ka length = 11
2022-01-07T00:00:00.000000000 ka length = 11
2022-01-06T00:00:00.000000000 ka length = 11
2022-01-05T00:00:00.000000000 ka length = 11
2022-01-04T00:00:00.000000000 ka length = 11
2022-01-03T00:00:00.000000000 ka length = 11

In [11]:
print(csv_files)

['data/price_n_volume/2023/AEP.parquet', 'data/price_n_volume/2023/ANSS.parquet', 'data/price_n_volume/2023/ALGN.parquet', 'data/price_n_volume/2023/IBM.parquet', 'data/price_n_volume/2023/AMGN.parquet', 'data/price_n_volume/2023/AMD.parquet', 'data/price_n_volume/2023/ABNB.parquet', 'data/price_n_volume/2023/AAPL.parquet', 'data/price_n_volume/2023/ADBE.parquet', 'data/price_n_volume/2023/AMZN.parquet', 'data/price_n_volume/2023/ADI.parquet', 'data/price_n_volume/2022/AEP.parquet', 'data/price_n_volume/2022/ANSS.parquet', 'data/price_n_volume/2022/ALGN.parquet', 'data/price_n_volume/2022/IBM.parquet', 'data/price_n_volume/2022/AMGN.parquet', 'data/price_n_volume/2022/AMD.parquet', 'data/price_n_volume/2022/ABNB.parquet', 'data/price_n_volume/2022/AAPL.parquet', 'data/price_n_volume/2022/ADBE.parquet', 'data/price_n_volume/2022/AMZN.parquet', 'data/price_n_volume/2022/ADI.parquet']